<div class="col-md-offset-11">
    <div class="form-group">
        <button (click)="testLesson()" class="btn btn-primary btn-lg">Test</button>
        <button (click)="addOrUpdate()" class="btn btn-success btn-lg">Save</button>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group">
        <input class="form-control" placeholder="Title" [(ngModel)]="lesson.title" />
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default" style="min-height: 600px;">
        <div class="panel-heading">Text</div>
        <div class="panel-body">
            <textarea class="form-control" [(ngModel)]="lesson.text" rows="20" cols="20"></textarea>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default" style="min-height: 600px">
        <div class="panel-heading">Code</div>
        <div class="panel-body">
            <div ace-editor
                 [(text)]="lesson.startCode"
                 [mode]="'javascript'"
                 [theme]="'eclipse'"
                 [readOnly]="false"
                 [autoUpdateContent]="true"
                 [durationBeforeCallback]="1000"
                 style="min-height: 500px; width:100%; overflow: auto;"></div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default" style="min-height: 600px">
        <div class="panel-heading">Unit Tests</div>
        <div class="panel-body">
            <div ace-editor
                 [(text)]="lesson.unitTestsCode"
                 [mode]="'javascript'"
                 [theme]="'eclipse'"
                 [readOnly]="false"
                 [autoUpdateContent]="true"
                 [durationBeforeCallback]="1000"
                 style="min-height: 500px; width:100%; overflow: auto;"></div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-default" style="min-height: 600px">
        <div class="panel-heading">Reporter</div>
        <div class="panel-body">
            <div ace-editor
                 [(text)]="lesson.reporterCode"
                 [mode]="'javascript'"
                 [theme]="'eclipse'"
                 [readOnly]="false"
                 [autoUpdateContent]="true"
                 [durationBeforeCallback]="1000"
                 style="min-height: 500px; width:100%; overflow: auto;"></div>
        </div>
    </div>
</div>

<iframe lesson-tester (onTestResultsReceived)="onTestResultsReceived($event)" src="/Home/Test"></iframe>

<div class="col-md-offset-11">
    <div class="form-group">
        <button (click)="testLesson()" class="btn btn-primary btn-lg">Test</button>
        <button (click)="addOrUpdate()" class="btn btn-success btn-lg">Save</button>
    </div>
</div>
