<div (window:keydown)="onKey($event)">
    <div class="col-md-offset-9">
        <div class="form-group pull-right">
            <button (click)="testLesson()" class="btn btn-primary btn-lg">Тест</button>
            <button (click)="addOrUpdate(false)" class="btn btn-warning btn-lg">Сохранить</button>
            <button (click)="addOrUpdate(true)" class="btn btn-success btn-lg">Готово</button>
            <button (click)="back()" class="btn btn-danger btn-lg">Назад</button>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <input class="form-control" placeholder="Название" [(ngModel)]="lesson.title" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default admin-lesson-full">
            <div class="panel-heading">Текст</div>
            <div class="panel-body">
                <app-tinymce [(ngModel)]='lesson.text'></app-tinymce>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default admin-lesson-half">
            <div class="panel-heading">Задание</div>
            <div class="panel-body">
                <app-tinymce [(ngModel)]='lesson.taskText'></app-tinymce>
            </div>
        </div>
        <div class="panel panel-default admin-lesson-half">
            <div class="panel-heading">Код</div>
            <div class="panel-body">
                <div ace-editor
                     [(text)]="lesson.startCode"
                     [mode]="'javascript'"
                     [theme]="'eclipse'"
                     [readOnly]="false"
                     [autoUpdateContent]="true"
                     [durationBeforeCallback]="1000"
                     style="height: 350px; width:100%; overflow: auto;"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default admin-lesson-full">
            <div class="panel-heading">Тесты</div>
            <div class="panel-body">
                <div ace-editor
                     [(text)]="lesson.unitTestsCode"
                     [mode]="'javascript'"
                     [theme]="'eclipse'"
                     [readOnly]="false"
                     [autoUpdateContent]="true"
                     [durationBeforeCallback]="1000"
                     style="min-height: 500px; width:100%; overflow: auto;"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default admin-lesson-full">
            <div class="panel-heading">Отчет</div>
            <div class="panel-body">
                <div ace-editor
                     [(text)]="lesson.reporterCode"
                     [mode]="'javascript'"
                     [theme]="'eclipse'"
                     [readOnly]="false"
                     [autoUpdateContent]="true"
                     [durationBeforeCallback]="1000"
                     style="min-height: 500px; width:100%; overflow: auto;"></div>
            </div>
        </div>
    </div>

    <iframe lesson-tester (onTestResultsReceived)="onTestResultsReceived($event)" src="/Home/Test"></iframe>

    <div class="col-md-offset-9">
        <div class="form-group pull-right">
            <button (click)="testLesson()" class="btn btn-primary btn-lg">Тест</button>
            <button (click)="addOrUpdate(false)" class="btn btn-warning btn-lg">Сохранить</button>
            <button (click)="addOrUpdate(true)" class="btn btn-success btn-lg">Готово</button>
            <button (click)="back()" class="btn btn-danger btn-lg">Назад</button>
        </div>
    </div>
</div>
