 <div class="panel panel-default" [ngClass]="cssClasses">
     <ng-container *ngIf="mode === 'text'">
         <div class="panel-heading">
             <ng-container *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate"></ng-container>
             <ng-container *ngIf="!headerTemplate">
                 <span>{{ headerText }}</span>
                 <a href="javascript: " (click)="isTextPreviewMode = !isTextPreviewMode;">Превью</a>
             </ng-container>
         </div>
         <div [ngClass]="{ 'hidden': isTextPreviewMode }" class="panel-body">
             <app-tinymce [ngModel]='text' (ngModelChange)="textChanged($event)"></app-tinymce>
         </div>
         <div [ngClass]="{ 'hidden': !isTextPreviewMode }" class="panel-body" [trust-html]="text"></div>
     </ng-container>

     <ng-container *ngIf="mode === 'code'" >
         <div class="panel-heading">{{ headerText }}</div>
         <div class="panel-body">
             <div ace-editor
                  [text]="text"
                  (textChange)="textChanged($event)"
                  [mode]="'javascript'"
                  [theme]="'eclipse'"
                  [readOnly]="false"
                  [autoUpdateContent]="true"
                  [durationBeforeCallback]="1000"
                  style="height: 400px; width: 100%; overflow: auto;"></div>
         </div>
     </ng-container>
</div>