<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-1">
                    <h4>Категория</h4>
                </div>
                <div class="col-md-4">
                    <category-selector [local-storage-key]="currentTypeParams.localStorageKey" 
                                       (onCategoryChanged)="onCategoryChanged($event)"></category-selector>
                </div>
            </div>
        </div>
        <div *ngIf="userChapters && userChapters.length == 0">
            <div class="col-md-12">
                <h4>В данной категории еще не чего нету.</h4>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div *ngFor="let userChapter of userChapters" class="col-md-12">
                    <ng-container *ngIf="userChapter.userLessons.length > 0">
                        <div class="col-md-1" style="width: 2%">
                            <a href="javascript: " (click)="userChapter.isExpanded=!userChapter.isExpanded;">
                                <h4>
                                    <span class="fa"
                                          [ngClass]="{ 'fa-toggle-right': !userChapter.isExpanded, 'fa-toggle-down': userChapter.isExpanded }">
                                    </span>
                                </h4>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="javascript: " (click)="openChapter(userChapter)">
                                <h4>
                                    {{ userChapter.chapterTitle }}
                                    <span class="green-color" [ngClass]="{'fa fa-check': userChapter.isPassed}"></span>
                                </h4>
                            </a>
                        </div>

                        <ng-container *ngIf="userChapter.isExpanded">
                            <div class="col-md-12" *ngFor="let userLesson of userChapter.userLessons">
                                <div class="col-md-4">
                                    <a href="javascript: " (click)="openLesson(userChapter, userLesson)">
                                        {{ userLesson.lessonTitle }}
                                        <span class="green-color" [ngClass]="{'fa fa-check': userLesson.isPassed}"></span>
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>