<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Литература</h4></div>
        <div class="panel-body">
            <p>
                Ниже предоставлен список литературы из которых составлены материалы уроков.
                Там вы найдете дополнительную информацию.
            </p>
            <div class="col-md-12" *ngFor="let literature of literatures">
                <div class="col-md-4">
                    <a target="_blank" href="{{ literature.link }}">{{ literature.title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>



