<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Тесты</h4></div>
        <div class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    <select class="form-control" [ngModel]="selectedCategoryId" (ngModelChange)="onCategorySelected($event)">
                        <option *ngFor="let cat of categories" [ngValue]="cat.id">
                            {{ cat.title }}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngFor="let userChapter of userChapters" class="col-md-12">
                <div *ngIf="userChapter.userLessons.length > 0" class="col-md-3">
                    <a href="javascript: " [routerLink]="['/user-lesson', userChapter.id, userChapter.userLessons[0].id]">
                        <h4>{{ userChapter.chapterTitle }}
                            <span class="green-color" [ngClass]="{'fa fa-check': userChapter.isPassed}"></span>
                        </h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>