<ng-template #controlButtons>
    <button (click)="testLesson()" class="btn btn-primary btn-lg">Тест</button>
    <button (click)="addOrUpdate(false)" class="btn btn-warning btn-lg">Сохранить</button>
    <button (click)="addOrUpdate(true)" class="btn btn-success btn-lg">Готово</button>
    <button (click)="back()" class="btn btn-danger btn-lg">Назад</button>
</ng-template>

<div (window:keydown)="onKey($event)">
    <div class="col-md-3">
        <div class="form-group">
            <input class="form-control" placeholder="Название" [(ngModel)]="lesson.title"/>
        </div>
    </div>

    <div *ngIf="!lesson.id" class="col-md-2">
        <div class="form-group">
            <select class="form-control" [(ngModel)]="lesson.type">
                <option value="0">Код</option>
                <option value="1">Тест</option>
                <option value="2">Вопрос</option>
            </select>
        </div>
    </div>
        
    <div class="col-md-2">
        <div class="form-group">
            <select class="form-control" [(ngModel)]="lesson.level">
                <option value="0">Junior</option>
                <option value="1">Middle</option>
                <option value="2">Senior</option>
            </select>
        </div>
    </div>

    <div *ngIf="!lesson.published" class="col-md-1">
        <div class="form-group">
            <label for="publishLesson">Опубликовать</label>
            <input id="publishLesson" type="checkbox" [(ngModel)]="lesson.publishNow"/>
        </div>
    </div>
        
    <div class="col-md-4" [ngClass]="{'col-md-offset-3': lesson.id}">
        <div class="form-group pull-right">
            <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
        </div>
    </div>
    
    <!-- Code Type -->
    <div *ngIf="lesson.type == LessonType.Code">
        <div class="col-md-6">
            <editor mode="text" [(text)]="lesson.text" css="admin-lesson-full" header-text="Текст"></editor>
        </div>
        <div class="col-md-6">
            <editor mode="text" [(text)]="lesson.taskText" css="admin-lesson-half" header-text="Задание"></editor>
            <editor mode="code" [(text)]="lesson.answer" css="admin-lesson-half" header-text="Код Ответ"></editor>
        </div>
        <div class="col-md-6">
            <editor mode="code" [(text)]="lesson.unitTestsCode" css="admin-lesson-half" header-text="Тесты"></editor>
        </div>
        <div class="col-md-6">
            <editor mode="code" [(text)]="lesson.reporterCode" css="admin-lesson-half" header-text="Отчет"></editor>
        </div>

        <div class="col-md-offset-9">
            <div class="form-group pull-right">
                <ng-container *ngTemplateOutlet="controlButtons"></ng-container>
            </div>
        </div>
    </div>
    
    <!-- Test Type -->
    <div *ngIf="lesson.type == LessonType.Test">
        <div class="col-md-6">
            <editor mode="text" [(text)]="lesson.taskText" css="admin-lesson-half" header-text="Задание"></editor>
        </div>
        <div class="col-md-6">
            <editor mode="text" [(text)]="lesson.answer" css="admin-lesson-half" header-text="Ответ"></editor>
        </div>
        <div class="col-md-6">
            <editor mode="text" [(text)]="answerOption.text" css="admin-lesson-half" [header-template]="headerTemplate">
                <ng-template #headerTemplate>
                    Вариант ответа
                    <input type="checkbox" [(ngModel)]="answerOption.isCorrect"/>
                    Верный
                    <button class="btn btn-lg" (click)="saveAnswerOption()"><span class="fa fa-save"></span></button>
                </ng-template>
            </editor>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Вариант</th>
                    <th>Верный</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let option of lesson.answerLessonOptions">
                    <td [trust-html]="option.text"></td>
                    <td>{{ option.isCorrect ? 'Да' : 'Нет' }}</td>
                    <td>
                        <button class="btn btn-success" (click)="editAnswerOption(option)"><span class="fa fa-edit"></span></button>
                        <button class="btn btn-danger" (click)="removeAnswerOption(option)"><span class="fa fa-remove"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <!-- Long Answer Type -->
    <div *ngIf="lesson.type == LessonType.LongAnswer">
        <div class="col-md-6">
            <editor mode="text" [(text)]="lesson.taskText" css="admin-lesson-full" header-text="Задание"></editor>
        </div>
        <div class="col-md-6">
            <editor mode="text" [(text)]="lesson.answer" css="admin-lesson-full" header-text="Ответ"></editor>
        </div>
    </div>
</div>

<iframe lesson-tester (onTestResultsReceived)="onTestResultsReceived($event)" src="/Home/Test"></iframe>
