<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Разделы</h4></div>
        <div class="panel-body">
            <div class="row">
                <div *ngFor="let userChapter of userChapters" class="col-md-12">
                    <a href="javascript: " (click)="goToLatestLesson(userChapter.chapterId)">
                        <h4>{{ userChapter.chapterTitle }}</h4>
                    </a>

                    <div class="col-md-12" *ngFor="let userLesson of userChapter.userLessons">
                        <a [routerLink]="['/lesson', userChapter.chapterId, userLesson.lessonId]">
                            {{ userLesson.lessonTitle }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>