<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default" style="min-height: 600px">
            <div class="panel-heading">Text</div>
            <div class="panel-body">{{ lesson.text }}</div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default" style="min-height: 600px">
            <div class="panel-heading">Code</div>
            <div class="panel-body">
                <div ace-editor
                     [(text)]="lesson.startCode"
                     [mode]="'javascript'"
                     [theme]="'eclipse'"
                     [readOnly]="false"
                     [autoUpdateContent]="true"
                     [durationBeforeCallback]="1000"
                     style="min-height: 500px; width:100%; overflow: auto;"></div>
            </div>
            
            Result: {{result.isSucceeded  }}
            <div class="alert" [ngClass]="{'alert-danger': !result.isSucceeded, 'alert-success': result.isSucceeded }">
                <span *ngFor="let tip of result.tips">{{ tip }}</span>
            </div>
            
            <button (click)="testLesson()" class="btn btn-success">Test</button>
            <button (click)="getNextLesson()" class="btn btn-primary">Next Lesson</button>
            
            <iframe width="0" height="0" style="border: none" id="testLessonIframe" src="/Home/Test"></iframe>
        </div>
    </div>
</div>

