<div *ngIf="showFinishedTaskMessage">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Задание Отправленно</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p style="line-height: 1.8">
                            Спасибо, ваше задание было отправлено.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!showFinishedTaskMessage">
    <div class="row margin-bottom-20">
        <div class="col-md-offset-4 col-md-4 text-center">
            <h3 *ngIf="timeLimitDate">
                Оставшееся время:
                <span *ngIf="!timeLimitFinished">
                    <countdown-timer [end]="timeLimitDate" (zeroTrigger)="timeLimitCountdown()"></countdown-timer>
                </span>
                <span *ngIf="timeLimitFinished" style="color: red">00:00:00</span>
            </h3>
            <h3>Прогресс ({{ currentIndex + 1 }} из {{ userSubTaskIds.length }})</h3>
            <div class="progress">
                <div [ngStyle]="{ 'width': getProgressInPercents() }" style="min-width: 10px"
                     class="progress-bar-success progress-bar-striped" role="progressbar">
                    # {{ currentIndex + 1 }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default sub-task-full">
            <div class="panel-heading">
                <h4>
                    <button *ngIf="currentIndex > 0" (click)="getPreviousSubTask()" class="btn btn-default btn-sm">Назад </button>
                    {{ userSubTask.SubTaskTitle }}
                </h4>
            </div>
            <div class="panel-body" [trust-html]="userSubTask.SubTask.text"></div>
        </div>
    </div>

    <div class="col-md-6">
        <div>
            <div class="panel panel-default sub-task-small">
                <div class="panel-heading">Задание - {{ userSubTask.isPassed ? 'Выполненно' : 'Не выполненно' }}</div>
                <div class="panel-body" [trust-html]="userSubTask.SubTask.taskText"></div>
            </div>
            <div class="panel panel-default sub-task-half">
                <div class="panel-heading">
                    Код
                </div>
                <div class="panel-body">
                    <div ace-editor
                         [(text)]="userSubTask.code"
                         [mode]="'javascript'"
                         [theme]="'eclipse'"
                         [readOnly]="false"
                         [autoUpdateContent]="true"
                         [durationBeforeCallback]="1000"
                         style="min-height: 340px; width:100%; overflow: auto;"></div>

                    <div *ngIf="result && result.messages.length" class="alert small"
                         [ngClass]="{'alert-danger': !result.isSucceeded, 'alert-success': result.isSucceeded }">
                        <span *ngFor="let message of result.messages">{{ message }}</span>
                    </div>

                    <button (click)="checkSubTask()" class="btn btn-default btn-lg">Проверить</button>
                    <!--<button *ngIf="!userSubTask.isPassed && failedAttempts >= 3" (click)="showAnswer()" class="btn btn-warning btn-lg">
                        Показать Ответ
                    </button>-->
                    <button *ngIf="currentIndex > 0" (click)="getPreviousSubTask()" class="btn btn-warning btn-lg">
                        Назад
                    </button>
                    <button (click)="getNextSubTask()" class="btn btn-success btn-lg">
                        {{ userSubTaskIds.length === 1 ? 'Завершить' : 'Следующее Задание' }}
                    </button>
                </div>

                <iframe SubTask-tester (onTestResultsReceived)="onTestResultsReceived($event)" src="/Home/Test"></iframe>
            </div>
        </div>
    </div>
</div>

