.body-content {
    padding-top: 90px;
}

.lesson-panel {
    min-height: 250px;
    overflow-y: auto
}

.lesson-task-panel {
    min-height: 100px;
    max-height: 750px;
    overflow-y: auto
}

.lesson-code-panel {
    min-height: 100px;
    max-height: 750px;
    overflow-y: auto;
}

.green-color {
    color: green;
}