.body-content {
    padding-top: 90px;
}

.admin-lesson-full {
    height: 665px;
    overflow-y: auto;
}

.admin-lesson-half {
    height: 325px;
    overflow-y: auto;
}

.lesson-full {
    height: 800px;
    overflow-y: auto;
}

.lesson-small {
    min-height: 100px;
    max-height: 250px;
    overflow-y: auto;
}

.lesson-half {
    height: 528px;
    overflow-y: auto;
}

.green-color {
    color: green;
}