.body-content {
    padding-top: 90px;
}

.admin-lesson-full {
    height: 780px;
    overflow-y: auto;
}

.admin-lesson-half {
    height: 380px;
    overflow-y: auto;
}

.lesson-full {
    height: 800px;
    overflow-y: auto;
}

.lesson-small {
    min-height: 100px;
    max-height: 250px;
    overflow-y: auto;
}

.lesson-half {
    height: 528px;
    overflow-y: auto;
}

.green-color {
    color: green;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
    max-height: 0;
}