<div [spinner]="userLesson.id > 0">
    <div class="row margin-bottom-20">
        <div class="col-md-offset-4 col-md-4 text-center">
            <h3>Прогресс ({{ getPassedUserLessonsCount() }} из {{ userLessonIds.length }})</h3>
            <div class="progress">
                <div [ngStyle]="{ 'width': getProgressInPercents() }" style="min-width: 10px"
                     class="progress-bar-success progress-bar-striped" role="progressbar">
                    # {{ currentIndex + 1 }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default lesson-full">
            <div class="panel-heading">
                <h4>
                    <button *ngIf="currentIndex > 0" (click)="getPreviousLesson()" class="btn btn-default btn-sm">Назад </button>
                    {{ userLesson.lessonTitle }}
                </h4>
            </div>
            <div class="panel-body" [trust-html]="userLesson.lesson.text"></div>
        </div>
    </div>

    <div class="col-md-6">
        <div>
            <div class="panel panel-default lesson-small">
                <div class="panel-heading">Задание - {{ userLesson.isPassed ? 'Выполненно' : 'Не выполненно' }}</div>
                <div class="panel-body" [trust-html]="userLesson.lesson.taskText"></div>
            </div>
            <div class="panel panel-default lesson-half">
                <div class="panel-heading">
                    Код
                </div>
                <div class="panel-body">
                    <div ace-editor
                         [(text)]="userLesson.code"
                         [mode]="'javascript'"
                         [theme]="'eclipse'"
                         [readOnly]="false"
                         [autoUpdateContent]="true"
                         [durationBeforeCallback]="1000"
                         style="min-height: 340px; width:100%; overflow: auto;"></div>

                    <div *ngIf="result && result.messages.length" class="alert small"
                         [ngClass]="{'alert-danger': !result.isSucceeded, 'alert-success': result.isSucceeded }">
                        <span *ngFor="let message of result.messages">{{ message }}</span>
                    </div>

                    <button (click)="checkLesson()" class="btn btn-default btn-lg">Проверить</button>
                    <button *ngIf="!userLesson.isPassed && failedAttempts >= 3" (click)="showAnswer()" class="btn btn-warning btn-lg">
                        Показать Ответ
                    </button>
                    <button *ngIf="userLesson.isPassed" (click)="getNextLesson()" class="btn btn-success btn-lg">
                        Дальше
                    </button>
                </div>

                <iframe lesson-tester (onTestResultsReceived)="onTestResultsReceived($event)" src="/Home/Test"></iframe>
            </div>
        </div>
    </div>
</div>

