<div class="container">
    <div class="page-header">
        <h1>Регистрация</h1>
    </div>


    <form class="form-horizontal" #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div class="col-lg-6">
                <input class="form-control" required id="userName" name="userName" [(ngModel)]="model.userName" type="text" placeholder="Имя" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6">
                <input class="form-control" required id="email" name="email" [(ngModel)]="model.email" type="email" placeholder="E-mail" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-6">
                <input class="form-control" required id="password" name="password" [(ngModel)]="model.password" type="password" placeholder="Пароль" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-12">
                <input class="btn btn-primary" type="submit" value="Зарегистрировать" [disabled]="!registerForm.form.valid" />
            </div>
        </div>

        <label class="control-label">
            Есть аккаунт? <a [routerLink]="['/login']">Войти</a>
        </label>
    </form>
</div>

