<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input class="form-control" placeholder="Chapter title" [(ngModel)]="chapter.title"/>
            <button (click)="addOrUpdateChapter()" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>

<div class="row">
    <div *ngFor="let chapter of chapters" class="col-md-12">
        <a href="javascript: " (click)="editChapter(chapter)">{{ chapter.title }}</a>
        <a [routerLink]="['/adminlesson', chapter.id]"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="javascript: " (click)="removeChapter(chapter.id)"><span class="glyphicon glyphicon-remove"></span></a>
        <div class="col-md-12" *ngFor="let lesson of chapter.lessons">
            <a [routerLink]="['/adminlesson', chapter.id, lesson.id]">{{ lesson.title }}</a>
            <a href="javascript: " (click)="removeLesson(chapter, lesson.id)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
</div>